name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: git mingw-w64-ucrt-x86_64-gcc
        path-type: strict

    - name: Compile DesktopMover
      run: |
        g++ -o DesktopMover.exe DesktopMover.cpp -lole32 -loleaut32 -lruntimeobject -luuid -mwindows -static

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: DesktopMover.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
